/*
Dark to Light
#3C8453 // Dark Green

#7F6150 // Roman Coffee
#DBA465 // Di Serria
#F2CF8D // Manhattan
#E4E4D6 // Moon Mist
*/

/* GLOBAL STYLES 
----------------------------------------*/

/*
    https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}
body {
    background: #E4E4D6; /* Moon Mist */
    margin: 0;
}

/* links */
a {
    color: #3C8453; /* Dark Green */
}

a:hover {
    color: #F2CF8D; /* Manhattan */
    text-decoration: none;
}

footer a {
    color: #F2CF8D; /* Manhattan */
}

footer a:hover {
    color: #3C8453; /* Dark Green */
    text-decoration: none;
}

.btn {
    background: #3C8453; /* Dark Green */
    color: #E4E4D6;
    text-decoration: none;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

/* HOME
----------------------------------------*/
.home {
    background: url(../images/bg-coffee-shop.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.9); /* White */
    padding: 30px;
}

/* RESUME 
----------------------------------------*/
.resume header::before {
    background: url(../images/bg-coffee-shop.jpg) center / cover;
    /*background-size: cover;*/
    content: "";
    display: block;
    height: 450px;
}

.resume-section {
    margin-bottom: 50px;
}

.resume-section h2 {
    border-bottom: 2px dashed #DBA465 ;
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}

/* Profile
----------------------------------------*/

/* Projects
----------------------------------------*/
.project-item {
    display: flow-root;
    margin: 30px 0;
}

.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}

/* Work Experience 
----------------------------------------*/

.work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
}

/* Education
----------------------------------------*/


/* FOOTER
----------------------------------------*/

footer {
    background: #7F6150;
    color: #DBA465;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}